.homePage {
	box-sizing: border-box;
	line-height: 1.5;
	color: red;
}

.wrapper {
	padding: 0 10px;
}

h1 {
	font-size: 30px;
}

.content {
	display: table;
	box-sizing: border-box;
	width: 100%;
	margin: 20px auto;
	border: solid 1px #f40;
}

.left,.right {
	display: table-cell;
	box-sizing: border-box;
	width: 50%;
	padding: 10px 0;
	text-align: center;
	border: solid 1px #f40;
}

li {
	list-style-type: disc;
	margin-left: 40px;
}