.btn {
    width: 690px;
    margin: 0 auto;
    line-height: 2.5;
    font-size: 36px;
    text-align: center;
    color: #000;
    background: #fff;
    border: solid 1px #eee;
    border-radius: 4px;
}

.btn-large {
    width: 100%;
    border: none;
    border-top: solid 1px #eee; 
    border-radius: 0;
}
.btn-primary {
    color: #fff;
    background: #f40;
}